$primary: #D4BB6F;
$secondary: #CDFFCF;

@import "~bootstrap/scss/bootstrap";
// body {
	
// }

//-------NAv-------//


//------hero-page-------//

.hero{
	height: 100vh;
	min-height: 700px;
	max-height: 1080px;
	// height: calc(100vw*9/16);

	background-repeat: no-repeat;
	background-size: cover;
	
	position: relative;
	z-index: 0;
	.phone {
		position: absolute;top: 0;right: 0;bottom: 0;left: 0;
		background-repeat: no-repeat;
		background-size: 275%;
		background-position: 55% 200px;
		
		pointer-events: none;
		z-index: -1;
	}
	.trees{
		position: absolute;
		top: 0;right: 0;bottom: 0;left: 0;
		background-repeat: no-repeat;
		background-position: bottom;
		z-index: 3;
	}
	@media (min-width: 768px) {
		.phone {
			background-size: cover;
			background-position: 55% 0;
		}
	}
	@media (min-width: 992px) {
		background-position: center;
		.phone {
			background-position: 55% 0;
		}
	}

	.span-2{
		color: #FEFFC9;
	}

	p{
		font-size: 24px;
	}

}
.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: $dark;
}


//--------CROWD FUNDED---------//

.crowd{

	padding-top: 100px;

	// & >h1{
	// 	font-size: 6rem;
	// 	font-weight: 400;
	// }
	// & >h2{
	// 	font-size: 4rem;
	// 	font-weight: 400;
	// }

	.row{
		// margin-top: 300px;
	}
	.col-12 {
		padding-top: 300px
	}
	.card{
		text-align: center;
		border-radius: 2rem;
		// position: relative;
	}
	img{
		margin-top: -300px;
	}
	.side-card{
		font-size: 1.25rem;
		background-color:#E2DF99;
		margin-top: 10%;
	}
	.main-card{
		font-size: 1.25rem;
		background-color: #EACC86;
	}
	.main-card h1{
		font-size: 3.25rem;
	}
	.card-body{
		margin-top: -10px;
	}

}

//---------flex---------//

.flex{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}