$primary: #D4BB6F;
$secondary: #CDFFCF;

@import "~bootstrap/scss/bootstrap";
body {
	// background: gray;
}

//-------NAv-------//


//------hero-page-------//

.hero{
	height: 100vh;
	min-height: 700px;
	max-height: 1080px;
	// height: calc(100vw*9/16);

	background-repeat: no-repeat;
	background-size: cover;
	
	position: relative;
	z-index: 0;
	.phone {
		position: absolute;top: 0;right: 0;bottom: 0;left: 0;
		background-repeat: no-repeat;
		background-size: 275%;
		background-position: 55% 200px;
		
		pointer-events: none;
		z-index: -1;
	}
	@media (min-width: 768px) {
		.phone {
			background-size: cover;
			background-position: 55% 0;
		}
	}
	@media (min-width: 992px) {
		background-position: center;
		.phone {
			background-position: 55% 0;
		}
	}

	.span-2{
		color: #FEFFC9;
	}

	p{
		font-size: 24px;
	}

}
.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: $dark;
}